.panel-content {
  margin: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.grid-card {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  background-color: rgb(var(--mdui-color-surface-container-high));
}

code {
  font-family: "UbuntuMono";
  font-weight: 400;
}

/* fix sth */
.mdui-table tbody td {
  vertical-align: bottom;
}


@font-face {
  font-family: YUYUKO SCRIPT;
  src: url('../font/YUYUKO.otf')
}

@font-face {
  font-family: UbuntuMono;
  src: url('../font/UbuntuMono-Regular.ttf')
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

}

#particles-text {
  position: relative;
  z-index: 2;
}

.about-content-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.75;
}

body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  /* 设置滚动条宽度 */
}

::-webkit-scrollbar-track {
  background-color: #8888880F;
  /* 滚动条轨道背景色 */
}

::-webkit-scrollbar-thumb {
  background-color: #88888880;
  /* 滚动条手柄颜色 */
  border-radius: 4px;
  /* 滚动条手柄圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* 滚动条手柄鼠标悬停时的颜色 */
}