<mdui-card variant="elevated" class="grid-card" style="text-align: center;padding: 0;">
  <div id="particles-js"></div>
  <div id="particles-text">

    <div style="font-size: xx-large;font-weight: bold;margin-bottom: 0.25rem;margin-top: 1.5rem;">
      DLS Fucker
    </div>

    <div style="font-size: larger;margin-bottom: 0.25rem;opacity: 0.75;">
      Created By PotatoD3v
    </div>

    <div style="opacity: 0.5;" onclick="buttonDarkside()"> - 现代世界的魔法师 - </div>

    <br>

    <a href="https://www.pixiv.net/artworks/109078496" target="_blank" class="darkside-invisible">
      <img src="./109078496.png" style="width: 35rem;"></img>
    </a>

    <a href="https://www.pixiv.net/artworks/73531653" target="_blank" class="darkside">
      <img src="./73531653.jpg" style="width: 50rem;"></img>
    </a>

    <div style="font-size: larger;opacity: 0.75;margin-top: 1rem;">
      =============== Update Log ===============
    </div>

    <div style="margin-top: 1rem;"></div>
    <div style="opacity: 0.75;">- 2025.5.15 -</div>
    <div style="opacity: 0.9;">
      修正：新版CAS自动登录适配<br>
    </div>

    <div style="margin-top: 1rem;"></div>
    <div style="opacity: 0.75;">- 2025.3.22 -</div>
    <div style="opacity: 0.9;">
      新功能：<a href="https://github.com/Ltfjx/DLSF-cli" target="_blank">DLSF-CLI</a><br>
      新功能：DLSF-CLI 脚本生成器<br>
    </div>

    <div style="margin-top: 1rem;"></div>
    <div style="opacity: 0.75;">- 2024.12.18 -</div>
    <div style="opacity: 0.9;">
      修正: 误报 “与后端的连接断开” 问题<br>
      修正: 日志显示优化<br>
      新功能: 加入低速模式，可以适应服务器响应缓慢的情况<br>
    </div>

    <div style="margin-top: 1rem;"></div>
    <div style="opacity: 0.75;">- 2024.12.9 -</div>
    <div style="opacity: 0.9;">
      修正: Arrange 进入选项卡时不刷新<br>
      修正: Arrange 部分课程解析失败<br>
      新功能: Arrange 课程状态颜色区分<br>
    </div>

    <div style="margin-top: 1rem;"></div>
    <div style="opacity: 0.75;">- 2024.12.4 -</div>
    <div style="opacity: 0.9;">
      嗨~ 这里是 RLt，今天也是久违的更新了一下 DLSF，<br>
      这次更新主要添加了排课功能，解决了排课每次都要对着表格看半天的烦恼。<br>
      马上又是新一个学期的选课了，所以花一下午完成了这个小功能，还没有做多少测试，不过至少是能用了。<br>
      最近真的是好忙啊，遇上了服务器硬盘故障，又要准备六级，还规划了出游，然后又快临近期末了，事情扎堆 T^T<br>
      话又说话来，一段时间没碰 DLSF 项目，突然觉得以前的自己写的代码质量奇低，<br>
      不过归根结底只是个小项目，所以也不太有重构的打算了，已经没有退路可以走了（<br>
      DLSF 作为一个抢课脚本的功能已经非常完善了，所以可能之后不会有特别大的更新了,<br>
      如果这个小项目能帮上你那就太好啦~<br>
      那么，下回再见咯~<br>
    </div>

    <div style="font-size: larger;opacity: 0.75;margin-top: 1rem;">
      =============== Thanks to ===============
    </div>

    <div class="about-content-flexbox" style="margin-bottom: 0.5rem;margin-top: 0.5rem;">
      UI Design powered by
      &nbsp;
      <mdui-chip href="https://www.mdui.org/zh-cn/" target="_blank">MDUI</mdui-chip>
    </div>

    <div class="about-content-flexbox" style="margin-bottom: 0.5rem;margin-top: 0.5rem;">
      Title Font designed by
      &nbsp;
      <mdui-chip href="https://font.heartx.info/c86/" target="_blank">Heartx</mdui-chip>
    </div>

    <div class="about-content-flexbox" style="margin-bottom: 1rem;margin-top: 0.5rem;">
      Libs used:
      &nbsp;
      <mdui-chip href="https://github.com/VincentGarreau/particles.js/" target="_blank">particles.js</mdui-chip>
      &nbsp;
      <mdui-chip href="https://github.com/axios/axios" target="_blank">axios</mdui-chip>
    </div>

    <div style="opacity: 0.75;margin-bottom: 1rem;">Proxy Server made with Node & Express</div>


    <mdui-chip style="margin-bottom: 1rem;" href="https://github.com/Ltfjx/DLSF" target="_blank">
      Github Repo
    </mdui-chip>

    <div class="about-content-flexbox" style="margin-bottom: 0rem;opacity: 0.25;">
      <mdui-icon name="commit--outlined"></mdui-icon>
      &nbsp;
      <div id="version-current"></div>
    </div>

    <div class="about-content-flexbox" style="margin-bottom: 1.5rem;opacity: 0.25;">
      <mdui-icon name="cloud--outlined"></mdui-icon>
      &nbsp;
      <div id="version-latest"></div>
    </div>

  </div>

</mdui-card>