<mdui-card variant="elevated" class="grid-card" style="text-align: center;padding: 0;">
  <div id="particles-js"></div>
  <div id="particles-text">

    <div style="font-size: xx-large;font-weight: bold;margin-bottom: 0.25rem;margin-top: 1.5rem;">
      DLS Fucker
    </div>

    <div style="font-size: larger;margin-bottom: 0.25rem;opacity: 0.75;">
      Created By PotatoD3v
    </div>

    <div style="opacity: 0.5;" onclick="buttonDarkside()"> - 现代世界的魔法师 - </div>

    <br>

    <a href="https://www.pixiv.net/artworks/111672633" target="_blank" class="darkside-invisible">
      <img src="./111672633.jpg" style="width: 50rem;"></img>
    </a>

    <a href="https://www.pixiv.net/artworks/73531653" target="_blank" class="darkside">
      <img src="./73531653.jpg" style="width: 50rem;"></img>
    </a>

    <div class="about-content-flexbox" style="margin-bottom: 0.5rem;margin-top: 0.5rem;">
      UI Design powered by
      &nbsp;
      <mdui-chip href="https://www.mdui.org/zh-cn/" target="_blank">MDUI</mdui-chip>
    </div>

    <div class="about-content-flexbox" style="margin-bottom: 0.5rem;margin-top: 0.5rem;">
      Title Font designed by
      &nbsp;
      <mdui-chip href="https://font.heartx.info/c86/" target="_blank">Heartx</mdui-chip>
    </div>

    <div class="about-content-flexbox" style="margin-bottom: 1rem;margin-top: 0.5rem;">
      Libs used:
      &nbsp;
      <mdui-chip href="https://github.com/VincentGarreau/particles.js/" target="_blank">particles.js</mdui-chip>
      &nbsp;
      <mdui-chip href="https://github.com/axios/axios" target="_blank">axios</mdui-chip>
    </div>

    <div style="opacity: 0.75;margin-bottom: 1rem;">Proxy Server made with Node & Express</div>


    <mdui-chip style="margin-bottom: 1rem;" href="https://github.com/Ltfjx/DLSF" target="_blank">
      Github Repo
    </mdui-chip>

    <div class="about-content-flexbox" style="margin-bottom: 0rem;opacity: 0.25;">
      <mdui-icon name="commit--outlined"></mdui-icon>
      &nbsp;
      <div id="version-current"></div>
    </div>

    <div class="about-content-flexbox" style="margin-bottom: 1.5rem;opacity: 0.25;">
      <mdui-icon name="cloud--outlined"></mdui-icon>
      &nbsp;
      <div id="version-latest"></div>
    </div>

  </div>

</mdui-card>