<div style="display: flex;gap: 1rem;">
  <mdui-card variant="elevated" class="grid-card" style="flex: 5;">

    <div style="display: flex;align-items: center;margin-bottom: 1rem;">
      <mdui-icon name="fact_check" style="font-size: 2rem;margin-right: 1rem;"></mdui-icon>
      <div style="font-size: x-large;font-weight: bold;">Select</div>
    </div>
    <div style="margin-bottom: 1rem;opacity: 0.75;">选取你的课程。</div>


    <mdui-button style="margin-bottom: 1rem;margin-right: 0.5rem;" variant="filled" onclick="arrangeSendToFucker()">添加至 Fucker
      <mdui-icon slot="icon" name="send"></mdui-icon>
    </mdui-button>

    <mdui-button style="margin-bottom: 1rem;" variant="outlined" onclick="arrangeClearAllSelect()">清空已选课程
      <mdui-icon slot="icon" name="clear"></mdui-icon>
    </mdui-button>

    <mdui-card style="width: 100%;padding: 1rem;">
      <div id="arrange-select-nothing" style="text-align: center;opacity: 0.5;">前往 Query 选项卡将课程添加至此处来开始排课。</div>


      <mdui-list>
        <mdui-collapse accordion id="arrange-list">

        </mdui-collapse>
      </mdui-list>


    </mdui-card>

  </mdui-card>


  <mdui-card variant="elevated" class="grid-card" style="flex: 8;">

    <div style="display: flex;align-items: center;margin-bottom: 1rem;">
      <mdui-icon name="dashboard" style="font-size: 2rem;margin-right: 1rem;"></mdui-icon>
      <div style="font-size: x-large;font-weight: bold;">Preview</div>
    </div>
    <div style="margin-bottom: 1rem;opacity: 0.75;">预览你的课表。</div>
    <div style="margin-bottom: 1rem;opacity: 0.75;">Tips: 背景颜色代表了课程状态，<span style="color: #ffffffAA">灰色</span> 代表已录取，<span style="color: #88ff88AA">绿色</span> 代表已选，<span style="color: #8888ffAA">蓝色</span> 代表 Arrange 选课预览。</div>

    <!-- <mdui-select id="arrange-term-select" style="margin-bottom: 0.5rem;" class="semester-select" variant="outlined" value="item-1" style="width: 10rem;">
    </mdui-select> -->

    <div style="opacity: 0.75;margin-bottom: 0.5rem;display: flex;align-items: center;">
      <mdui-icon name="date_range" style="margin-right: 0.5rem;"></mdui-icon>

      <mdui-button-icon class="arrange-week button-icon-selected">
        <div style="font-size: medium;">1</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">2</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">3</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">4</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">5</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">6</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">7</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">8</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">9</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">10</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">11</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">12</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">13</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">14</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">15</div>
      </mdui-button-icon>

      <mdui-button-icon class="arrange-week">
        <div style="font-size: medium;">16</div>
      </mdui-button-icon>
    </div>



    <table class="mdui-table" style="margin: 0; table-layout: fixed; height: 10rem;vertical-align: top;">
      <thead>
        <tr>
          <th style="width: 2rem;"></th>
          <th>星期一</th>
          <th>星期二</th>
          <th>星期三</th>
          <th>星期四</th>
          <th>星期五</th>
          <th>星期六</th>
          <th>星期日</th>
        </tr>
      </thead>
      <tbody id="arrange-preview-table">

      </tbody>
    </table>


  </mdui-card>
</div>