<div class="grid-container" id="grid-container">


  <mdui-card variant="elevated" class="grid-card">
    <div style="display: flex;align-items: center;margin-bottom: 1rem;">
      <mdui-icon name="app_registration" style="font-size: 2rem;margin-right: 1rem;"></mdui-icon>
      <div style="font-size: x-large;font-weight: bold;">System</div>
    </div>
    <div style="margin-bottom: 1rem;opacity: 0.75;">修改系统设置。
    </div>
    <div>
      <mdui-checkbox id="settings-checkbox-checkupdate" onchange="checkboxCheckupdate()" checked>自动检查更新</mdui-checkbox>
    </div>
  </mdui-card>

  <mdui-card variant="elevated" class="grid-card">
    <div style="display: flex;align-items: center;margin-bottom: 1rem;">
      <mdui-icon name="bug_report" style="font-size: 2rem;margin-right: 1rem;"></mdui-icon>
      <div style="font-size: x-large;font-weight: bold;">Debug</div>
    </div>
    <div style="margin-bottom: 1rem;opacity: 0.75;">请谨慎操作。
    </div>
    <div>
      <mdui-button variant="filled" onclick="buttonClearAllData()">清除所有数据</mdui-button>
    </div>
  </mdui-card>

</div>